{
    ApplicationDescription = "Yet another task manager, but with GNUStep";
    ApplicationName = "Ggtd";
    ApplicationRelease = "0.3";
    Authors = "Jean-Marc Routoure";
    Copyright = "Copyright (C) 2025";
    CopyrightDescription = "Released under GPL Version 3";
    NSIcon = "Ggtd.tiff";
    NSTypes = (
        {
             NSDOSExtensions = ("gtd");
             NSName = "GTD";
             NSHumanReadableName = "Ggtd Document";
             NSUnixExtensions = ("gtd");
             NSRole = Editor;
             NSIcon = "Ggtd.tiff";
             NSDocumentClass = Document;
        }
    );
}
